<div class="col-xs-10 col-xs-offset-1 about">
  <h1>About Splurty - aka the Genius Quotes Generator</h1>

  <p>
    Splurty was built by <a target="_blank" href="http://github.com/MarcoMorawec"> me, Jenny P</a>! Just a gal who loves reading, and her favorite children's books will always have a special place in her heart. She constantly dreams of running running away with Stuart Little, and Peter Pan, Wilbur, Aslan, Matilda and that bowl of mush from Good Night Moon are a part of her #squadgoals. 
  </p>
  <br />
  
  <p>
    Jenny P is lucky enough to work at a company where new children's books are published every day! If you want to learn more about Houghton Mifflin Harcourt - start <a target="_blank" href="http://www.hmhco.com/"> here</a>.
  </p>

<div class="col-xs-12 col-sm-4">
    <%= image_tag 'jensplurty.jpg', :class => 'img-responsive' %>
  </div>


 <br class="clear" />
<br />
<br />
<br />
<br />